body {
  font-family: "roboto" sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.top-line .logo-link {
  font-family: "Raleway" sans-serif;
  flex-shrink: 0;
  background: var(--white, #fff);
}

.web {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03;
  text-transform: uppercase;
}

.navigation {
  color: var(--navyblue, #2e2f42);
  font-family: "roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02;
}

.address {
  color: var(--slate, #434455);
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02px;
}

.hero-section {
  background: var(--navyblue, #2e2f42);
  flex-shrink: 0;
}

.hero-header {
  color: var(--white, #fff);
  text-align: center;
  font-family: "roboto" sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.button {
  background: var(--iris, #4d5ae5);
}

.button-text {
  color: var(--white, #fff);
  font-family: "roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.feature {
  flex-shrink: 0;
}
.feature-header {
  color: var(--navyblue, #2e2f42);
  font-family: "roboto" sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4em;
}

.feature-text {
  color: var(--slate, #434455);
  font-family: "roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
